<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
</head>
<body>
<form th:action="@{/product}">
    Szukaj: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search"/>
    &nbsp;
</form>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Nazwa</td>
        <td>Kategoria</td>
        <td>Cena</td>
        <td>Opis</td>
        <td>Link</td>
    </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.url}"></td>
            <td><form method="post" th:action="@{/shopping-cart/add}">
                <input type="hidden" th:value="*{product.id}" name="productId">
                <input type="number" name="quantity" th:if="${#request.userPrincipal}">
                <input type="submit" value="Dodaj do koszyka" th:if="${#request.userPrincipal}">
            </form> </td>
        </tr>
    </tbody>
</table>
</body>
</html>